{{cart-header}}
<div id="wrapper" class="container">
  {{logo-section}}
  <br>    
  <section class="header_text sub">
    <h4><span>Check Out</span></h4>
  </section>
  <section class="main-content">
    {{#if placeOrder}}
      <div class="placeOrder">
        <p class="success"> Order is successfully placed. </p><br>
        <p class="delivery"> Your item will be delivered to below address: </p>
        <div class="delivaryAddress">
          <p>{{firstName}} {{lastName}}<br>
            {{firstAddress}}<br>
            {{secondAddress}}<br>
            {{postCode}}
          </p>
        </div>
      </div>
    {{else}}
      <div class="row">
        <div class="span12">
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Account &amp; Billing Details</a>
              </div>
              <div id="collapseTwo" class="accordion-body">
                <div class="accordion-inner">
                  <div class="row-fluid">
                    <div class="span6">
                      <h4>Your Personal Details</h4>
                      <div class="control-group">
                        <label class="control-label">First Name</label>
                        <div class="controls">
                          {{input class="input-xlarge" type="text" placeholder="First Name" value=firstName}}
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Last Name</label>
                        <div class="controls">
                          {{input class="input-xlarge" type="text" placeholder="Last Name" value=lastName}}
                        </div>
                      </div>            
                      <div class="control-group">
                        <label class="control-label">Email Address</label>
                        <div class="controls">
                          {{input class="input-xlarge" type="text" placeholder="Email Address"}}
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Mobile No.</label>
                        <div class="controls">
                          {{input class="input-xlarge" type="text" placeholder="Mobile No."}}
                        </div>
                      </div>
                    </div>
                    <div class="span6">
                      <h4>Your Address</h4> 
                      <div class="control-group">
                        <label class="control-label">Address 1:</label>
                        <div class="controls">
                          {{input class="input-xlarge" type="text" placeholder="Address" value=firstAddress}}
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">Address 2:</label>
                        <div class="controls">
                          {{input class="input-xlarge" type="text" placeholder="Address" value=secondAddress}}
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">City:</label>
                        {{gmap-search city=city}}                      
                      </div>
                      <div class="control-group">
                        <label class="control-label">Post Code:</label>
                        <div class="controls">
                          {{input class="input-xlarge" type="text" placeholder="Postal Code" value=postCode}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <p class="buttons center">
                      <button class="btn btn-inverse" type="submit" id="checkout" {{action "checkOut"}}>
                        {{#link-to 'checkout'}}Place Order{{/link-to}}
                      </button>
                      <!-- <button class="tn btn-inverse" data-toggle="modal" data-target="#myModal">Place Order</button> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>
      </div>
    {{/if}}
   {{!-- <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Your Order succesfully placed.</p>
          </div>          
        </div>
      </div>
    </div> --}}

  </section>      
  {{cart-footer}}
</div>